<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS  -->

    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="{% static 'css/materialize.css'%}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="{%static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Watch </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Menu</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m7">
            <div id="actor" class="card horizontal">
              <div class="card-image">
                <img src="img/icons/actor_1.jpg" />
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <h5><b>Matthew McConaughey</b></h5>
                  <p>
                    Amerikalı aktör ve yapımcı Matthew David McConaughey,
                    Teksas, Uvalde'de doğdu. Annesi Mary Kathleen (McCabe),
                    aslen New Jersey'li bir geçici okul öğretmenidir. Babası
                    James Donald McConaughey, Mississippi doğumlu bir benzin
                    istasyonu sahibiydi ve petrol boru tedarik işi yürütüyordu.
                    İrlanda, İskoç, Alman, İngiliz ve İsveç kökenlidir. Matthew,
                    Teksas, Longview'da büyüdü ve burada yerel Lise'den mezun
                    oldu (1988). Daha sonra iki kardeşinin de katıldığı
                    babasının petrol işine pek ilgi göstermeyen Matthew, bir
                    değişiklik yapmak istedi ve Avustralya'da bir yıl geçirdi,
                    bulaşık yıkadı ve tavuk gübresi küredi. Amerika'ya geri
                    döndü ve başlangıçta avukat olmak istiyordu, Austin'deki
                    Teksas Üniversitesi'ne gitti. Ancak final sınavlarından
                    birinden önce Og Mandino'nun ilham verici "Dünyanın En Büyük
                    Satıcısı" kitabını keşfettiğinde, aniden ana dalını hukuktan
                    filme değiştirmesi gerektiğini anladı.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div style="display: flex" class="col s12 m12">
            <div id="movie-image" class="card">
              <div class="card-image">
                <img src="img/interstaller.jpg" />
              </div>
              <div class="card-content">
                <span class="card-title"><b>Interstaller</b></span>
                <p>Movie(2014)</p>
              </div>
            </div>
            <div id="movie-image" class="card">
              <div class="card-image">
                <img src="img/howtolose.jpeg" />
              </div>
              <div class="card-content">
                <span class="card-title"
                  ><b>How to Lose a Guy in 10 Days</b></span
                >
                <p>Movie(2003)</p>
              </div>
            </div>
          </div>
          <div class="col s12 m12 center-align">
            <a class="waves-effect btn-flat center-align">+Daha Fazla Yükle</a>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">
              We are a team of college students working on this project like
              it's our full time job. Any amount would help support and continue
              development on this project and is greatly appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
  </body>
</html>
