{% extends "base.html" %} {% load static %}

{% block content %}

<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text">
        <i class="material-icons">add_to_queue</i>
      </h2>
      <h5 class="center">İzleme Listesine Ekle</h5>

      <p class="light">
        Sevdiğiniz bir diziyi veya filmi keşfettiğinizde, tek bir tıklama ile
        izleme listenize ekleyebilir, daha sonra kolayca erişebilirsiniz. Bu
        özellik, ilginizi çeken içerikleri kaybetmeden takip etmenize ve izleme
        alışkanlıklarınızı düzenlemenize yardımcı olur.
      </p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text">
        <i class="material-icons">star_half</i>
      </h2>
      <h5 class="center">İçeriği Değerlendir</h5>

      <p class="light">
        İzlediğiniz her filmden sonra kendi puanınızı verebilir ve
        düşüncelerinizi yazarak diğer kullanıcıların da bu filmler hakkında
        bilgi sahibi olmasını sağlayabilirsiniz. Değerlendirme yaparak, favori
        filmlerinizin ve beğenmediğiniz yapımların hangileri olduğunu kolayca
        takip edebilir, topluluğa katkıda bulunarak film önerileri
        alabilirsiniz.
      </p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center brown-text">
        <i class="material-icons">smart_toy</i>
      </h2>
      <h5 class="center">Yapay Zeka Destekli Arama</h5>

      <p class="light">
        İçerik arama deneyiminizi daha akıllı ve kişiselleştirilmiş hale
        getirir. Bu özellik sayesinde, aradığınız içerikle ilgili görseller
        yükleyerek en uygun sonuçlara kolayca ulaşabilirsiniz. Yapay zeka,
        izleme geçmişinizi ve tercihleriniz doğrultusunda size özel öneriler
        sunarak, ilginizi çekebilecek içerikleri keşfetmenizi sağlar. Film arama
        deneyiminizi daha akıllı ve keyifli hale getirmek için şimdi bu özelliği
        kullanmaya başlayın!"
      </p>
    </div>
  </div>
</div>
{%endblock%}
