<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- CSS  -->

    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
      rel="stylesheet"
      integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="css/materialize.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
    <link
      href="css/style.css"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Watch </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Menu</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </div>
    </nav>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m7">
            <div class="card horizontal">
              <div class="card-image">
                <img src="img/interstaller.jpg" />
              </div>
              <div class="card-stacked" style="flex-wrap: wrap">
                <div class="card-content">
                  <span class="card-title"
                    ><h4>Interstaller (Yıldızlararası)- (2014)</h4></span
                  >
                  <p>
                    Yıldızlararası, Christopher Nolan tarafından yönetilen, epik
                    bilimkurgu türündeki 2014 yapımı bir ABD filmidir.
                    Başrollerinde Matthew McConaughey, Anne Hathaway, Jessica
                    Chastain, Bill Irwin, Ellen Burstyn, Matt Damon ve Michael
                    Caine yer almaktadır.
                  </p>
                  <br />
                  <div class="divider"></div>
                  <div class="col s12 m12">
                    <div class="card-panel grey lighten-5 z-depth-1">
                      <div class="row valign-wrapper">
                        <div class="col s4 center-align">
                          <img
                            src="img/icons/no_avatar.jpg"
                            alt=""
                            class="circle responsive-img"
                          />
                          <span><b>Serra Aksoy</b></span>
                          <span>@serraaksoy88</span>

                          <!-- notice the "circle" class -->
                        </div>
                        <div class="col s8">
                          <span class="black-text">
                            <h5>Bu filmi değerlendirdi</h5>
                            <h6>10/10</h6>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h4>Değerlendirme</h4>
        <div class="row">
          <div class="col s12 m12">
            <div class="card">
              <div class="card-content">
                <span class="card-title"><b>Serra Aksoy</b></span
                ><span class="right"
                  >Review<i class="material-icons right">rate_review</i></span
                >
                <p style="color: gray">@serraaksoy88</p>
                <p style="color: gray"><b>16 Ekim 2024</b></p>
                <br />
                <p>
                  ... Diyecek söz, kullanacak kelime yok. Tam bir başyapıt.
                  Konusu, oyunculuk, akış... Her, her, her konuda mükemmel. Her
                  şey en ince detayına kadar düşünülmüş... Hayatımda izlediğim
                  en iyi film!
                </p>
              </div>
              <div class="card-action">
                <a href=""><i class="material-icons">thumb_up</i>100</a>
                <a href=""><i class="material-icons">thumb_down</i>7</a>
              </div>
            </div>
          </div>
        </div>

        <h4>Yorumlar</h4>
        <div class="divider"></div>

        <div class="col s12 m12">
          <div class="card">
            <div class="card-content">
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="img/icons/no_avatar.jpg" alt="" class="circle" />
                  <span class="title"><b>Serra Aksoy</b></span>
                  <p style="color: gray">@serraaksoy88</p>
                  <p class="right">10 Ekim 2024</p>
                  <br />
                  <p>
                    Izlememistim hayatimda yaptigim en buyuk hataymis cok fazla
                    editini gordum sonunu gordum ama tinede izledim filmin
                    ramami spoiler olsa bilene tekrar tekrar izlenicek bir filim
                    ilk izleysinizin yerini asla doldurmiyacagi bir basyapit
                    sagol crhistopher abi bu nasil bir basyapittir
                  </p>
                  <a href="#!" class="secondary-content red-text"
                    ><i class="material-icons">delete </i>
                  </a>
                  <div class="card-action">
                    <form>
                      <div class="input-field col s12">
                        <textarea
                          id="textarea1"
                          class="materialize-textarea"
                        ></textarea>
                        <label for="textarea1">Yorum yaz..</label>
                        <button
                          class="btn waves-effect waves-light"
                          type="submit"
                          name="action"
                        >
                          Gönder
                          <i class="material-icons right">send</i>
                        </button>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">
              We are a team of college students working on this project like
              it's our full time job. Any amount would help support and continue
              development on this project and is greatly appreciated.
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li><a class="white-text" href="#!">Link 1</a></li>
              <li><a class="white-text" href="#!">Link 2</a></li>
              <li><a class="white-text" href="#!">Link 3</a></li>
              <li><a class="white-text" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
