# Default ignored files
/../../../../BİTİRME/BitirmeProjesi/watchsearch/.idea/shelf/
/../../../../BİTİRME/BitirmeProjesi/watchsearch/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../BİTİRME/BitirmeProjesi/watchsearch/.idea/dataSources/
/../../../../BİTİRME/BitirmeProjesi/watchsearch/.idea/dataSources.local.xml
